.negative{
    margin-top:-1rem;
  }
  .wrapper{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5rem;
  }
  .wrap{
      width: 100%;
      position: relative;
  }
  .span-icon{
      position: absolute;
      right: 0;
      top: 0;
      padding-left: 0.95rem;
      padding-top: 0.45rem;
      background: rgba(96, 97, 97, 0.808);
      width: 50px;
      height:40px;
  }
  .mg-top{
      margin-top: -1.5rem;
      display: flex;
  }
  
  .left,.right{
      position: absolute;
      top:0;
      height: 40px;
      width: 40px;
  }
  .left{
      left: 0;
      padding:0.45rem;
      padding-left:0.75rem;
      border-right: 1px solid grey;
  
  }
  .right{
      right: 0;
      background: rgba(128, 128, 128, 0.336);
      color: #000;
      font-size: 0.758rem;
      width: 55px;
      padding-top: 0.65rem;
      padding-left: 0.65rem;
  }
  h3{
      margin-top: -2rem;
      margin-bottom: 0.95rem;
  }
  #checkbox{
      margin-top:1.3rem!important;
  }
  .plus-btn{
      width:30%;
      height: 25px!important;
      margin-top:-2.5rem;
  }
  .plus-btn span{
       font-size:0.458rem;
  }
  .minus-btn{
      margin-top: -1.2rem;
      height: 45px!important;
  }
  .btn-top{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .ordinary{
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 3rem;
  }
  .wrapper-preview{
      position: relative;
      border: 1px solid $dashboard_color;
      border-radius: 10px;
      padding: 1rem;
      width: 100%;
      min-height: auto;
      margin-bottom: 2.5rem;
  }
  .wrapper-preview.mg-bottom{
      // margin-bottom: 1rem;
  }
  .top-border-text{
      width:15rem;
      font-weight: 500;
      font-size: 0.875rem;
      text-align: center;
      background: #fff;
      padding: 0.65rem;
      margin-top: -2.3rem;
      margin-left: 1.5rem;
      color: $dashboard_color;
      text-transform: uppercase;
      white-space:nowrap;
  }
  .top-btn{
      float: right;
      margin-top:-0.45rem;
      margin-bottom:1rem;
      background: transparent!important;
      color: grey!important;
      border: none!important;
  }
  .text-box{
      display: flex;
      align-items: center;
      justify-content:space-between;
      flex-wrap: wrap;
      width:100%;
  }
  .wrapper-preview h4{
      margin: 2rem 0;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.875rem!important;
      color: rgba(0, 0, 0, 0.87);
  }
  .standing,.outstanding{
      width: 100%;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      font-size: 0.875rem!important;
      color: rgba(0, 0, 0, 0.87);
  }
  .outstanding{
      margin-top: -2rem!important;
  }
  .text-content{
       display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-bottom:0.75rem;
      width: 200px;
  }
  .employment-text-content{
      width: 30rem;
      margin-bottom: 1rem;
  }
  .table{
      width: 100%;
  }
  .title{
      color: rgba(0, 0, 0, 0.87);
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      font-size: 0.875rem!important;
  }
  .text{
      text-transform: capitalize;
      color: #666;
      font-size: 0.875rem!important;
      margin-top:-0.45rem;
  }
  .card-action-btn{
      width: 92%;
      margin-inline: auto;
      margin-top: -5rem!important;
  }
  .v-btn.modal-left-btn{
      background: transparent!important;
      color:$dashboard_color!important;;
  }
  @media(max-width:1000px){
      .top-border-text{
           margin-left:0rem;
      }
      .top-btn{
          margin-top:0.45rem;
          margin-bottom:1rem;
      }
  }